<h3>Availability</h3>
<table>
  <th>
    <tr>Day</tr>
    <tr>Start Time</tr>
    <tr>End Time</tr>
  </th>
  <% @teacher.availability_ranges.each do |r| %>
  <tr>
    <td><%= "#{r.weekday_name}" %></td>
    <td><%= "#{r.start_time_to_12h}" %></td>
    <td><%= "#{r.end_time_to_12h}" %></td>
  </tr>
  <% end %>
</table>
