<h1>Subjects#index</h1>

<% @teachers.each do |t| %>
<div class="teacher">
  <img src="<%= t.picture %>" alt="<%= "#{t.first_name} #{t.last_name} picture" %>">
  <p><%= "#{t.first_name} #{t.last_name}" %> <%= link_to 'View Full Profile' %></p>
</div>
<% end %>
