
<section id="subjects">
  <div class="container">
    <h4>Subjects</h4>
  </div>
  <div class="carousel">
  <% @subjects.each do |s| %>
      <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/350/350/nature/"></a>
   <% end %>
 </div>
</section>

<section id="teachers">
  <div class="col s10 m6">
    <div class="container">
      <h4>Teachers</h4>
    </div>
    <% @teachers.each do |t| %>
    <div class="card horizontal">
      <div class="card-image"><img src="<%= t.picture %>"></div>
        <div class="card-stacked">
          <div class="card-content">
            <p><strong>Teaches: </strong><%= "#{t.subject}" %></p><br>
            <p>Hourly Price: <strong><%= "$ #{t.price}" %></strong></p>
          </div>
          <div class="card-action">
            <%= link_to "#{t.first_name} #{t.last_name}", teacher_path(t) %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
</section>
