<h1>Hello! These are all the Teachers!</h1>

<h2>Subjects</h2>
<ul>
<% @teachers.select("subject").group("subject").each do |t| %>
  <li><p><%= t.subject %></p></li>
<% end %>
</ul>

<h2>Teachers</h2>
<ul>
<% @teachers.each do |t| %>
  <li><p><%= link_to "#{t.first_name} #{t.last_name} #{t.subject} $#{t.price}", teacher_url(t.id) %></p></li>
<% end %>
</ul>
