<h2>Subjects</h2>
<ul>
<% @subjects.each do |s| %>
  <li><p><%= link_to s.subject, subjects_url(:subject => s.subject) %></p></li>
<% end %>
</ul>

<h2>Teachers</h2>
<ul>
<% @teachers.each do |t| %>
  <li><p><%= link_to "#{t.first_name} #{t.last_name} #{t.subject} $#{t.price}", teacher_url(t.id) %></p></li>
<% end %>
</ul>
